<template>
    <div class="container mx-auto my-auto max-w-lg px-6 bg-white">
        <div v-if='success' class="bg-green-100 rounded-lg py-5 px-6 mb-4 text-base text-green-700 mb-3" role="alert">
            La données a été ajoutée.
        </div>
        <div v-if='errorMessage' class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert">
            {{ errorMessage }}
        </div>

        <h2 class="text-center text-gray-700">Nouvelle mesure</h2>
        <label class="block">
            <span class="text-gray-700">Type de mesure</span>
            <select class="form-select px-4 py-3 w-full" v-model="selectedData">
                <option v-for="d in schema" :value="d['id']">{{ d['label'] }}</option>
            </select>
        </label>

        <label class="block">
            <span class="text-gray-700">Jour et heure de la mesure</span>
            <input type="datetime-local" class="form-input px-4 py-3 w-full" v-model="date">
        </label>

        <label>
            <span class="text-gray-700">Valeur ({{ unit }})</span>
            <input type="number" v-model="value" class="form-input w-full" />
        </label>

        <button type="submit"
            class=" border-white border-2 w-full justify-center rounded-md border border-transparent bg-orange-500 px-3 py-3 my-3 text-sm font-medium text-white hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2"
            @click="sendForm">
            Ajouter
        </button>

    </div>

</template>

<script lang="ts">
import { defineComponent } from 'vue'

import schema from '@/assets/influxdb_schema.json'
import config from '@/assets/config.json'

import { InfluxDB, Point, HttpError } from '@influxdata/influxdb-client-browser'

console.log(schema)

export default defineComponent({
    data: function() {
        const today = new Date();
        var offset = today.getTimezoneOffset() * 60000;
        var adjustedDate = new Date(today.getTime() - offset);
        return {
            'schema': schema,
            'selectedData': schema[0]["id"],
            'date': adjustedDate.toISOString().substring(0, 16),
            'value': 0,
            'success': false,
            'errorMessage': undefined
        }
    },
    methods: {
        sendForm() {
            this.success = false;
            this.errorMessage = undefined;
            const influxdb_conf = config["INFLUXDB"]
            // create a write API, expecting point timestamps in nanoseconds (can be also 's', 'ms', 'us')
            const writeApi = new InfluxDB({
                url: influxdb_conf["URL"],
                token: influxdb_conf["DB_TOKEN"]
            }).getWriteApi(influxdb_conf['ORG'], influxdb_conf['BUCKET'], 'ns')

            const d = new Date(this.date);
            // write point with the current (client-side) timestamp
            const point1 = new Point(this.selectedSchema!['measurement'])
                .tag('label', this.selectedSchema!['id'])
                .tag('cumulative', this.selectedSchema!['cumulative'])
                .tag('location', this.selectedSchema!['location'])
                .tag('source', window.location.hostname)
                .timestamp(d)
                .floatField('value', this.value);
            writeApi.writePoint(point1)

            try {
                writeApi.close().then(() => {
                    this.success = true;
                    console.log('FINISHED ... now try ./query.ts')
                }).catch((e) => {
                    this.errorMessage = e.toString();
                    console.log(e)
                })
            } catch (e) {
                console.error(e)
                if (e instanceof HttpError && e.statusCode === 401) {
                    console.log('Run ./onboarding.js to setup a new InfluxDB database.')
                }
                console.log('\nFinished ERROR')
            }
        }
    },
    computed: {
        unit() {
            return this.schema.find((sch) => sch.id === this.selectedData)!['unit'];
        },
        selectedSchema() {
            return this.schema.find((sch) => sch.id === this.selectedData);
        }
    },
    mounted() {
    }
})
</script>
