<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#FF6201" fill-opacity="1"
            d="M0,288L21.8,250.7C43.6,213,87,139,131,138.7C174.5,139,218,213,262,208C305.5,203,349,117,393,101.3C436.4,85,480,139,524,149.3C567.3,160,611,128,655,122.7C698.2,117,742,139,785,160C829.1,181,873,203,916,186.7C960,171,1004,117,1047,122.7C1090.9,128,1135,192,1178,218.7C1221.8,245,1265,235,1309,213.3C1352.7,192,1396,160,1418,144L1440,128L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z">
        </path>
    </svg>
</template>