<script setup lang="ts">
import MeasureForm from './components/MeasureForm.vue'
import WavedBackground from './components/WavedBackground.vue'
</script>

<template>
  <header>
  </header>

  <main class="py-10">
    <MeasureForm />
  </main>
  <footer >
    <WavedBackground class="w-full bottom-0 left-0 absolute -z-10"/>
  </footer>
</template>

<style scoped>
</style>